.hero {
  height: 60vh;
  padding: 32px;
  display: flex;
  align-items: center;
  background-image: url('/hero.png');
  background-size: 100% auto;
}

.hero-content {
  /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); */
  color: #ffffff;
  padding: 32px;
  padding-top: 64px;
  padding-bottom: 64px;
  width: 75%;
  box-sizing: border-box;
  padding-right: 25%;
  display: flex;
  flex-direction: column;
}

.hero-content h1 {
  margin: 0;
  font-size: 64px;
}

.hero-content p {
  font-size: 24px;
}

.careers {
  padding: 32px;
  background-image: linear-gradient(to bottom, #333333, #333333, #007bff);
}

.careers h2 {
  margin: 0;
  margin-bottom: 32px;
  font-size: 32px;
  text-align: center;
  color: #ffffff;
}

.careers .content {
  display: flex;
  justify-content: center;
}

.careers .content div {
  background-image: linear-gradient(#007bff, #0570e3, #0351a3);
  color: #ffffff;
  padding: 42px;
  border-radius: 32px;
  margin-left: 16px;
  margin-right: 16px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
}

.careers .content div h3 {
  font-size: 28px;
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
}

.careers .content div p {
  text-align: center;
  font-size: 20px;
  margin: 0;
}

.cta {
  background-color: #007bff;
  display: flex;
  flex-direction: column;
}

.cta h2 {
  margin: 0;
  text-align: center;
  font-size: 32px;
  padding-top: 64px;
}

.cta ul {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-size: 20px;
  font-weight: bold;
}

.cta ul li {
  text-shadow: rgba(0, 0, 0, 0.5) 1px 5px 3px;
}

.cta ul li::marker {
  color: #333333;
}

.cta button {
  border: 0;
  background: white;
  color: #333333;
  font-size: 32px;
  padding: 8px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 32px;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
}

.cta p {
  text-align: center;
  margin-bottom: 64px;

}